@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}
/*-Main-*/

body {
    background-image: url(../images/man.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    background-attachment: fixed;
}

ul {
    margin: 0;
}

#title {
    font-family: 'Patrick Hand', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}

.text {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
    text-shadow: 1px 1px #000000;
    margin-top: 0;
}

/* Buttons-*/

.input-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 2.5rem;
    margin-left: 5px;
}

.input-btn:hover {
    color: #A9A9A9;
}

.input-btn:focus { outline:0 !important; }

.trash-btn {
    float: right;
    color: black;
    font-size: 2.5rem;
}

.trash-btn:hover {
    color: #A9A9A9;
    cursor: pointer;
}

.image-btns {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 2rem;
    margin: 5px;
}

.image-btns:hover {
    color: #A9A9A9;
    cursor: pointer;
}

.media {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.media:hover {
    color: #A9A9A9;
}

/*-Forms-*/

.write-thought {
    padding: 0.5rem;
    font-size: 2.5rem;
    border: none;
}
/*-thoughts-*/

#thought li {
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    background: #FFFFFF;
    color: #000000;
    list-style: none;
}

@media (min-width: 280px) { 
    .text {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) { 
    .text {
        font-size: 2rem;
    }
}

