*{
    margin: 0;
    padding: 0;
}
/* --------------------------------------------------------------- Main ------------------------------------------------------*/

body {
    background-image: url(../images/man.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: bottom;
}

#title {
    font-family: "Patrick Hand", "Roboto", cursive, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

#text {
    font-family: "Patrick Hand", "Roboto", cursive, sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

/* --------------------------------------------------------------- Buttons ------------------------------------------------------*/

.input-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
}

.input-btn:hover {
    color: grey;
}

.input-btn:focus { outline:0 !important; }

.tree-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
}

.tree-btn:hover {
    color: grey;
}

.tree-btn:focus { outline:0 !important; }

.sun-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
}

.sun-btn:hover {
    color: grey;
}

.sun-btn:focus { outline:0 !important; }

.beach-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
}

.beach-btn:hover {
    color: grey;
}

.beach-btn:focus { outline:0 !important; }

.city-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
}

.city-btn:hover {
    color: grey;
}

.city-btn:focus { outline:0 !important; }
/* --------------------------------------------------------------- Forms ------------------------------------------------------*/

.write-thought {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
}


/*-------------------------Footer--------------------------*/

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;

}

.media {
    font-size: 25px;
    margin: 5px;
    color: white;
    padding-top: 50px;
}

.media:hover {
    color: grey;
}


/*-----------------------------------Notes---------------------------------*/

#thought {
   
    
}

#thought li {
        
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    background: white;
    color: grey;
    list-style: none;
}
/*----------------------Media queries------------------------------*/

@media (max-width: 768px) { 
    #text {
        font-size: 15px;
    }
}

/*@media (max-width: 768px) { 
    body {
        background-image: url(../images/forest.jpg);
        height: 100vh;
    }
}*/

@media (max-width: 575px) { 
    form {
        font-size: 1.5rem;
    }
}