*{
    margin: 0;
    padding: 0;
}
/* --------------------------------------------------------------- Main ------------------------------------------------------*/

body {
    background-image: url(../images/man.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: bottom;
}

#title {
    font-family: "Patrick Hand", "Roboto", cursive, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#text {
    font-family: "Patrick Hand", "Roboto", cursive, sans-serif;
    color: white;
    font-size: 20px;
}

/* --------------------------------------------------------------- Buttons ------------------------------------------------------*/
/*
.color-btn {
    margin: 5px;
    height: 2vh;
    width: 4vh;
}

#btn-1 {
    background-color: #91dba9;
    border: none;
}

#btn-2 {
    background-color: #ffee90;
    border: none;
}

#btn-3 {
    background-color: #ff8d43;
    border: none;
}

#btn-4 {
    background-color: #92d0d6;
    border: none;
}
*/
.input-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.input-btn:hover {
    color: grey;
}

.input-btn:focus { outline:0 !important; }


/* --------------------------------------------------------------- Forms ------------------------------------------------------*/

form {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 25px;
}


/* --------------------------------------------------------------- Forms ------------------------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.media {
    font-size: 25px;
    margin: 5px;
    color: white;
    padding-top: 50px;
}

.media:hover {
    color: grey;
}

/*
.links-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.links {
    color: white;
}
*/

/*----------------------Media queries------------------------------*/

@media (max-width: 768px) { 
    #text {
        font-size: 15px;
    }
}

@media (max-width: 575px) { 
    form {
        font-size: 1.5rem;
    }
}